<h1 class="display-5 mb-4"><%= ProfessionalProfile.model_name.human %></h1>

<%= render "shared/errors", resource: @professional_profile %>

<% if @professional_profile.profile_photo.attached? %>
  <%= image_tag @professional_profile.profile_photo, size: "250x250", class: "rounded float-end" %>
<% end %>
<dl class="row">
  <p>
    <dt class="col-sm-3"><%= ProfessionalProfile.human_attribute_name(:full_name) %>:</dt>
    <dd class="col-sm-9"><%= @professional_profile.full_name %></dd>
  </p>
  <p>
    <dt class="col-sm-3"><%= ProfessionalProfile.human_attribute_name(:social_name) %>:</dt>
    <dd class="col-sm-9"><%= @professional_profile.social_name %></dd>
  </p>
  <p>
    <dt class="col-sm-3"><%= ProfessionalProfile.human_attribute_name(:description) %>:</dt>
    <dd class="col-sm-9"><%= @professional_profile.description %></dd>
  </p>
  <p>
    <dt class="col-sm-3"><%= ProfessionalProfile.human_attribute_name(:professional_qualification) %>:</dt>
    <dd class="col-sm-9"><%= @professional_profile.professional_qualification %></dd>
  </p>
  <p>
    <dt class="col-sm-3"><%= ProfessionalProfile.human_attribute_name(:professional_experience) %>:</dt>
    <dd class="col-sm-9"><%= @professional_profile.professional_experience %></dd>
  </p>
  <p>
    <dt class="col-sm-3"><%= KnowledgeField.model_name.human %>:</dt>
    <dd class="col-sm-9"><%= @professional_profile.knowledge_field.title %></dd>
  </p>
  <p>
    <dt class="col-sm-3"><%= ProfessionalProfile.human_attribute_name(:birth_date) %>:</dt>
    <dd class="col-sm-9"><%= l @professional_profile.birth_date %></dd>
  </p>
  <% if @professional_profile.user.average_score_received? > 0 %>
    <p>
      <dt class="col-sm-3"><%= t('misc.average_score') %>:</dt>
      <dd class="col-sm-9"><%= @professional_profile.user.average_score_received?.round(2) %></dd>
    </p>
  <% end %>
</dl>

<div>
  <div class="btn-group mt-1 mb-3" role="group" aria-label="Buttons related to the project">
    <%= link_to t('links.go_to_feedbacks'), received_feedbacks_path(@professional_profile.user), class: "btn btn-primary mt-3 mb-3" %>
    <% if current_user == @professional_profile.user %>
      <%= link_to t('links.edit'), edit_professional_profile_path(@professional_profile), class: "btn btn-outline-primary mt-3 mb-3" %>
    <% end %>
  </div>
</div>

<% if @projects.present? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Project.human_attribute_name(:title) %></th>
        <th><%= Project.human_attribute_name(:description) %></th>
        <th><%= Project.human_attribute_name(:attendance_type) %></th>
        <th><%= Project.human_attribute_name(:status) %></th>
        <th><%= Feedback.human_attribute_name(:score) %></th>
      </tr>
    </thead>
    <tbody>
    <% @projects.each do |pr| %>
      <tr project-id="<%= pr.id %>">
        <td class="title"><%= link_to pr.title, project_path(pr) %></td>
        <td class="description"><%= pr.description %></td>
        <td class="attendance-type"><%= t(pr.attendance_type) %></td>
        <td class="status-type"><%= t(pr.status) %></td>
        <td class="score"><%= pr.score %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<div>
  <%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-1 mb-1" %>
</div>
