<% if @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @project do |f| %>
  <p>
    <%= f.label :title, class: "form-label mb-1" %>
    <%= f.text_field :title, class: "form-control mb-3" %>
  </p>
  <p>
    <%= f.label :description, class: "form-label mb-1" %>
    <%= f.text_field :description, class: "form-control mb-3" %>
  </p>
  <p>
    <%= f.label :skills, class: "form-label mb-1" %>
    <%= f.text_field :skills, class: "form-control mb-3" %>
  </p>
  <p>
    <%= f.label :max_hourly_rate, class: "form-label mb-1" %>
    <%= f.number_field :max_hourly_rate, step: 0.5, class: "form-control mb-3" %>
  </p>
  <p>
    <%= f.label :open_until, class: "form-label mb-1" %>
    <%= f.date_field :open_until, class: "form-control mb-3" %>
  </p>

  <div class="field">
    <%= f.label :attendance_type, class: "form-label mb-1" %><br />
    <p>
      <%= f.radio_button :attendance_type, "mixed_attendance" %>
      <%= f.label :attendance_type_mixed_attendance, t('mixed_attendance') %>
    </p>
    <p>
      <%= f.radio_button :attendance_type, "presential_attendance" %>
      <%= f.label :attendance_type_presential_attendance, t('presential_attendance') %>
    </p>
    <p>
      <%= f.radio_button :attendance_type, "remote_attendance" %>
      <%= f.label :attendance_type_remote_attendance, t('remote_attendance') %>
    </p>
  </div>

  <%= f.submit class: "btn btn-primary mt-3 mb-3" %>
<% end %>
