<% if @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @project do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :title, placeholder: :title, class: "form-control" %>
    <%= f.label :title %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :description, placeholder: :description, class: "form-control" %>
    <%= f.label :description %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :skills, placeholder: :skills, class: "form-control" %>
    <%= f.label :skills %>
  </div>
  <div class="form-floating mb-3">
    <%= f.number_field :max_hourly_rate, placeholder: :max_hourly_rate, step: 0.5, class: "form-control" %>
    <%= f.label :max_hourly_rate %>
  </div>
  <div class="form-floating mb-3">
    <%= f.date_field :open_until, placeholder: :open_until, class: "form-control" %>
    <%= f.label :open_until %>
  </div>

  <div class="field">
    <%= f.label :attendance_type %><br />
    <p>
      <%= f.radio_button :attendance_type, "mixed_attendance" %>
      <%= f.label :attendance_type_mixed_attendance, t('mixed_attendance') %>
    </p>
    <p>
      <%= f.radio_button :attendance_type, "presential_attendance" %>
      <%= f.label :attendance_type_presential_attendance, t('presential_attendance') %>
    </p>
    <p>
      <%= f.radio_button :attendance_type, "remote_attendance" %>
      <%= f.label :attendance_type_remote_attendance, t('remote_attendance') %>
    </p>
  </div>

  <%= f.submit class: "btn btn-primary mt-3 mb-3" %>
<% end %>
