<% if @project.finished? && (@project_proposal.approved? || @project_proposal.rated?) %>
  <div class="btn-group mt-1 mb-3" role="group" aria-label="Buttons related to the project">
    <% if @feedback %>
      <%= link_to t('links.go_to_feedback'), feedback_path(@feedback), class: "btn btn-primary" %>
    <% else %>
      <%= link_to t('links.rate_project'), new_feedback_path(project_proposal_id: @project_proposal), class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<% if @project_proposal.new_record? && @project.currently_open? %>
  <div class="display-6 mb-3"><%= current_user.professional_profile.social_name %>, envie sua proposta para esse projeto preenchendo os campos abaixo:</div>
<% else %>
  <div class="display-6 mb-3"><%= current_user.professional_profile.social_name %>, você enviou a seguinte proposta para esse projeto:</div>
<% end %>

<% disable_field = !@project.currently_open? %>

<%= form_with model: [@project, @project_proposal] do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :reason, placeholder: :reason, disabled: disable_field, class: "form-control" %>
    <%= f.label :reason %>
  </div>
  <div class="form-floating mb-3">
    <%= f.number_field :hourly_rate, placeholder: :hourly_rate, disabled: disable_field, class: "form-control" %>
    <%= f.label :hourly_rate %>
  </div>
  <div class="form-floating mb-3">
    <%= f.number_field :weekly_hours, placeholder: :weekly_hours, readonly: disable_field, class: "form-control" %>
    <%= f.label :weekly_hours %>
  </div>
  <div class="form-floating mb-3">
    <%= f.date_field :deadline, placeholder: :deadline, disabled: disable_field, class: "form-control" %>
    <%= f.label :deadline %>
  </div>
  <% unless @project_proposal.new_record? %>
    <div class="row mb-3">
      <div class="col-sm-2 col-form-label">
        <%= ProjectProposal.human_attribute_name(:status) %>:
      </div>
      <div class="col-sm-2 col-form-label">
        <%= t(@project_proposal.status) %>
      </div>
      <div class="col-sm-2 col-form-label">
        (<%= ProjectProposal.human_attribute_name(:status_date) %>:
      </div>
      <div class="col-sm-6 col-form-label">
        <%= l(@project_proposal.status_date.in_time_zone('Brasilia'), format: :short) %>)
      </div>
    </div>
  <% end %>
  <% if @project_proposal.status_reason.present? %>
    <div class="row mb-3">
      <div class="col-sm-2 col-form-label">
        <%= ProjectProposal.human_attribute_name(:status_reason) %>:
      </div>
      <div class="col-sm-8 col-form-label">
        <%= @project_proposal.status_reason %>
      </div>
    </div>
  <% end %>

  <% if @project.currently_open? %>
    <%= f.submit class: "btn btn-primary mt-3 mb-3" %>
  <% end %>
<% end %>

<% if @project_proposal.can_be_canceled? && !@project_proposal.new_record? && !@project.finished? %>
  <% if @project_proposal.approved? %>
    <%= link_to 'Cancelar Proposta', cancel_project_proposal_path(@project_proposal, status_change: 'cancel'), class: "btn btn-outline-danger mt-3 mb-3" %>
  <% else %>
    <%= button_to 'Cancelar Proposta', project_proposal_path(@project_proposal), data: { confirm: t('messages.are_you_sure?') },
        method: :delete, class: "btn btn-outline-danger mt-3 mb-3" %>
  <% end %>
<% end %>

<% if !@project.open? && (@project_proposal.approved? || @project_proposal.rated?) %>
  <div class="display-6 mb-3">Time do projeto:</div>
  <table class="table">
    <thead>
      <tr>
        <th><%= ProfessionalProfile.human_attribute_name(:social_name) %></th>
        <th><%= ProjectProposal.human_attribute_name(:reason) %></th>
        <th><%= ProjectProposal.human_attribute_name(:weekly_hours) %></th>
        <th><%= ProjectProposal.human_attribute_name(:deadline) %></th>
      </tr>
    </thead>
    <tbody>
      <% @project_proposals.each do |pp| %>
        <tr project-proposal-id="<%= pp.id %>">
          <td class="social-name"><%= link_to pp.user.professional_profile.social_name, pp.user.professional_profile %></td>
          <td class="reason"><%= pp.reason %></td>
          <td class="weekly-hours"><%= pp.weekly_hours %></td>
          <td class="deadline"><%= l pp.deadline %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
