<h1 class="display-3"><%= @project.title %></h1>

<dl class="row">
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:description) %>:</dt>
      <dd class="col-sm-9"><%= @project.description %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:skills) %>:</dt>
      <dd class="col-sm-9"><%= @project.skills %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:max_hourly_rate) %>:</dt>
      <dd class="col-sm-9"><%= number_to_currency(@project.max_hourly_rate) %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:open_until) %>:</dt>
      <dd class="col-sm-9"><%= l @project.open_until %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:attendance_type) %>:</dt>
      <dd class="col-sm-9"><%= t(@project.attendance_type) %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= User.model_name.human %> responsável:</dt>
      <dd class="col-sm-9"><%= @project.user.email %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:status) %>:</dt>
      <dd class="col-sm-9"><%= t(@project.status) %></dd>
    </p>
</dl>

<% if current_user&.professional? || current_user&.admin? %>
  <% if @project_proposal.new_record? && @project.currently_open? %>
    <div class="display-6 mb-3"><%= current_user.professional_profile.social_name %>, envie sua proposta para esse projeto preenchendo os campos abaixo:</div>
  <% else %>
    <div class="display-6 mb-3"><%= current_user.professional_profile.social_name %>, você enviou a seguinte proposta para esse projeto:</div>
  <% end %>

  <%= form_with model: [@project, @project_proposal] do |f| %>
    <div class="form-floating mb-3">
      <%= f.text_field :reason, placeholder: :reason, class: "form-control" %>
      <%= f.label :reason %>
    </div>
    <div class="form-floating mb-3">
      <%= f.number_field :hourly_rate, placeholder: :hourly_rate, class: "form-control" %>
      <%= f.label :hourly_rate %>
    </div>
    <div class="form-floating mb-3">
      <%= f.number_field :weekly_hours, placeholder: :weekly_hours, class: "form-control" %>
      <%= f.label :weekly_hours %>
    </div>
    <div class="form-floating mb-3">
      <%= f.date_field :deadline, placeholder: :deadline, class: "form-control" %>
      <%= f.label :deadline %>
    </div>

    <% if @project.currently_open? %>
      <%= f.submit class: "btn btn-primary mt-3 mb-3" %>
    <% end %>
    <% end %>
    <% unless @project_proposal.new_record? %>
      <%= button_to 'Cancelar Proposta', project_proposal_path(@project_proposal), data: { confirm: t('messages.are_you_sure?') },
      method: :delete, class: "btn btn-outline-danger mt-3 mb-3" %>
    <% end %>
<% end %>

<% if current_user&.user? || current_user&.admin? %>
  <% if @project.user == current_user %>
    <div class="btn-group mt-1 mb-3" role="group" aria-label="Buttons related to the project">
      <% if @project.open? %>
        <%= link_to t('links.edit'), edit_project_path(@project), class: "btn btn-primary" %>
        <%= link_to t('links.close'), close_project_path(@project), method: :post,
            data: { confirm: t('messages.are_you_sure?') }, class: "btn btn-outline-primary" %>
      <% end %>
      <% if @project.closed? %>
        <%= link_to t('links.finish'), finish_project_path(@project), method: :post,
            data: { confirm: t('messages.are_you_sure?') }, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  <% end %>

  <% if @project_proposals.present? %>
    <div class="display-6 mb-3">Propostas enviadas:</div>
    <table class="table">
      <thead>
        <tr>
          <th><%= ProfessionalProfile.human_attribute_name(:social_name) %></th>
          <th><%= ProjectProposal.human_attribute_name(:reason) %></th>
          <th><%= ProjectProposal.human_attribute_name(:hourly_rate) %></th>
          <th><%= ProjectProposal.human_attribute_name(:weekly_hours) %></th>
          <th><%= ProjectProposal.human_attribute_name(:deadline) %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @project_proposals.each do |pp| %>
          <tr project-proposal-id="<%= pp.id %>">
            <td class="social-name"><%= link_to pp.user.professional_profile.social_name, pp.user.professional_profile %></td>
            <td class="reason"><%= pp.reason %></td>
            <td class="hourly-rate"><%= pp.hourly_rate %></td>
            <td class="weekly-hours"><%= pp.weekly_hours %></td>
            <td class="deadline"><%= l pp.deadline %></td>
            <% case %>
            <% when pp.pending? %>
              <td class="approve-button"><%= button_to 'Aprovar', approve_project_proposal_path(pp),
                  data: { confirm: t('messages.are_you_sure?') }, id: pp.id, class: "btn btn-outline-success btn-sm" %></td>
              <td class="reject-button"><%= button_to 'Rejeitar', reject_project_proposal_path(pp),
                  data: { confirm: t('messages.are_you_sure?') }, id: pp.id, class: "btn btn-outline-danger btn-sm" %></td>
            <% when pp.approved? %>
              <td class="approve-button"><%= button_to 'Aprovar', '#', id: pp.id, class: "btn btn-success disabled btn-sm" %></td>
              <td class="reject-button"><%= button_to 'Rejeitar', '#', id: pp.id, class: "btn btn-outline-danger disabled btn-sm" %></td>
            <% when pp.rejected? %>
              <td class="approve-button"><%= button_to 'Aprovar', '#', id: pp.id, class: "btn btn-outline-success disabled btn-sm" %></td>
              <td class="reject-button"><%= button_to 'Rejeitar', '#', id: pp.id, class: "btn btn-danger disabled btn-sm" %></td>
            <% end %>
            <% if @project.finished? %>
              <% if pp.rated? %>
                <td class="feedback-button"><%= link_to 'Avaliar', '#', id: pp.id, class: "btn btn-info disabled btn-sm" %></td>
              <% else %>
                <td class="feedback-button"><%= link_to 'Avaliar', new_feedback_path(project: @project, feedback_receiver: pp.user),
                    id: pp.id, class: "btn btn-outline-info btn-sm" %></td>
              <% end %>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-1 mb-1" %>
