<h1 class="display-3"><%= @project.title %></h1>

<%= render "shared/errors", resource: @project %>

<dl class="row">
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:description) %>:</dt>
      <dd class="col-sm-9"><%= @project.description %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:skills) %>:</dt>
      <dd class="col-sm-9"><%= @project.skills %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:max_hourly_rate) %>:</dt>
      <dd class="col-sm-9"><%= number_to_currency(@project.max_hourly_rate) %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:open_until) %>:</dt>
      <dd class="col-sm-9"><%= l @project.open_until %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:attendance_type) %>:</dt>
      <dd class="col-sm-9"><%= t(@project.attendance_type) %></dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= User.model_name.human %> responsável:</dt>
      <dd class="col-sm-9">
        <% average_score = @project.user.average_score_received?.round(2) %>
        <% if average_score > 0 %>
          <%= link_to "#{@project.user.email} (#{t('misc.average_score')}: #{average_score})", received_feedbacks_path(@project.user) %>
        <% else %>
          <%= @project.user.email %>
        <% end %>
      </dd>
    </p>
    <p>
      <dt class="col-sm-3"><%= Project.human_attribute_name(:status) %>:</dt>
      <dd class="col-sm-9"><%= t(@project.status) %></dd>
    </p>
</dl>

<% if current_user&.professional? %>
  <%= render 'professional' %>
<% end %>

<% if current_user&.user? || current_user&.admin? %>
  <%= render 'user' %>
<% end %>

<div>
  <%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-1 mb-1" %>
</div>
