<%= success %>

<%= @project.title %>

<dl>
  <p>
    <dt><%= Project.human_attribute_name(:description) %>:</dt>
    <dd><%= @project.description %></dd>
  </p>
  <p>
    <dt><%= Project.human_attribute_name(:skills) %>:</dt>
    <dd><%= @project.skills %></dd>
  </p>
  <p>
    <dt><%= Project.human_attribute_name(:max_hourly_rate) %>:</dt>
    <dd><%= number_to_currency(@project.max_hourly_rate) %></dd>
  </p>
  <p>
    <dt><%= Project.human_attribute_name(:open_until) %>:</dt>
    <dd><%= l @project.open_until %></dd>
  </p>
  <p>
    <dt><%= Project.human_attribute_name(:attendance_type) %>:</dt>
    <dd><%= @project.attendance_type %></dd>
  </p>
</dl>
