<h1 class="display-5 mb-4"><%= "#{Feedback.model_name.human} #{t(@feedback_source)}" %></h1>

<%= render "shared/errors", resource: @feedback %>

<div class="mb-4">
<% if @feedback_source == :from_user %>
  <%= t('messages.giving_feedback_to_user', social_name: @feedback_receiver.professional_profile.social_name, project_title: @project.title) %>
<% else %>
  <%= t('messages.giving_feedback_to_professional', project_title: @project.title, user_email: @feedback_receiver.email) %>
<% end %>
</div>

<%= form_with model: @feedback do |f| %>
  <p><%= t('misc.choose_a_score') %>:</p>
  <div class="btn-group mb-3" role="group">
      <%= f.radio_button :score, "1", class: "btn-check" %>
      <%= f.label :score_1, "1", class: "btn btn-outline-primary" %>
      <%= f.radio_button :score, "2", class: "btn-check" %>
      <%= f.label :score_2, "2", class: "btn btn-outline-primary" %>
      <%= f.radio_button :score, "3", class: "btn-check" %>
      <%= f.label :score_3, "3", class: "btn btn-outline-primary" %>
      <%= f.radio_button :score, "4", class: "btn-check" %>
      <%= f.label :score_4, "4", class: "btn btn-outline-primary" %>
      <%= f.radio_button :score, "5", class: "btn-check" %>
      <%= f.label :score_5, "5", class: "btn btn-outline-primary" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_field :user_feedback, placeholder: :user_feedback, class: "form-control" %>
    <%= f.label :user_feedback %>
  </div>
  <% if current_user.professional? %>
    <div class="form-floating mb-3">
      <%= f.text_field :project_feedback, placeholder: :project_feedback, class: "form-control" %>
      <%= f.label :project_feedback %>
    </div>
  <% end %>

  <%= f.hidden_field :project_proposal_id, value: @project_proposal.id %>

  <%= f.submit class: "btn btn-primary mt-3 mb-3" %>
<% end %>

<div>
  <%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-1 mb-1" %>
</div>
